<div class="mat-elevation-z8">

    <table mat-table [dataSource]="dataSource" matSort >
    
    
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null;emitSelected()"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null;emitSelected()"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>
      
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="numero">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Numero </th>
          <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="observacao">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Observação </th>
          <td mat-cell *matCellDef="let element"> {{element.observacao}} </td>
        </ng-container>
      
        
        <ng-container matColumnDef="data">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>  Data do Cadastro </th>
          <td mat-cell *matCellDef="let element"> {{element.dataCadastro}} </td>
        </ng-container>
    
        <ng-container matColumnDef="alterar">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let element">    
            <mat-icon id="blackgrund-botao" (click)="openDialog(element)">more_vert</mat-icon>

          </td>
        </ng-container>
    
        <ng-container matColumnDef="deletar" stickyEnd>
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let element"> 
            
                <mat-icon id="blackgrund-botao" (click)="openDialog(element)">delete</mat-icon>
          </td>
       </ng-container>
 

      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            ><!-- 
              <button mat-icon-button aria-label="" (click)="playAudio(element)">
            <mat-icon>play_circle_outline</mat-icon>(click)="selection.toggle(row);emitSelected()" -->
        </tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[100, 50, 20]" showFirstLastButtons></mat-paginator>
    </div>
    
    